<div class = "h2 text-center mt-4" style="text-shadow: 2px 2px 8px yellow;;">Issues <img src= "https://cdn-icons-png.flaticon.com/512/455/455875.png" height="20px" width="20px"/></div>
<link rel = "stylesheet" href="/css/view_issue.css">


<div class="container">

    <input type = "button" class="btn btn-primary mb-5" id = "home" value = "<-- Go To Home">

    <% for (var i in Issues) {%>


        <div id = "issue" class="rounded-2">

       

       
    
        <div class="row ">
            <div class = "col-6 mb-2 mx-2">
               <span>Issue ID: <%= i %></span> 
            </div>
         </div>
            <div class = "row mx-2">
                <div class="col-3">
                   Description : <%= Issues[i].desc %>

                </div>
                <div class="col-3">
                    Severity : <%= Issues[i].severity %>

                </div>

                <div class="col-3">
                    Assign to : <%= Issues[i].assign %>
                    
                </div>
                <div class="col-3">

                    <input type = "button" class="btn btn-danger mb-4 resolve" id = "<%= i %>" value = "Resolve">

                </div>

            </div>

        </div>


        
        
    <%}%>

    

    </div>


    <script src = "/js/view_issue.js"></script>



 

 


           


                
      


         
       
    
  



